/* css file for kanban project*/

.list_decoration li {
    font-size: 24px;
    color: #464646;
    font-weight: lighter;
    list-style-type: none;
    padding: 5% 3% 5% 3%;
}

.list_decoration li:hover {
    border-bottom: none;
    border-left: 4px solid #0FA0CE;

}
#nav {
    background: ##39424E;
    /*display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;*/
    margin: 1.5% 1.5% 1.5% 1.5%;
    width: 100%;
    font-size: 35px;
    color: #F8F8F8;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 3px solid #39244E;
}

#nav h2 {
    margin: 0 auto;
}

#nav ul {
    display: inline;
    float: right;
    list-style-type: none;
}

#allTasks img {
    display: inline;
    margin-left: 1.5%;
}

#tasks {
    border: 1px solid black;
}

#editTask {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#newTaskForm {
    display: none;
}
