{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kanban</title>
        <link rel=stylesheet type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'/>
        <link rel=stylesheet type="text/css" href= "{% static 'css/kanban.css'%}"/>
    </head>
    <body>
        <navbar id="nav"><a href="/"><h2>KanBan</h2></a></navbar>
        <div class='container'>
        {% block content%}
        {% endblock %}
    </div>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  {% block javascript %}
  {% endblock %}
    </body>
</html>
