{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
  <div class='row'>
    <div class="six columns">
            <h2 id=viewAll>View All</h2>
    <div id="allTasks">
    <img src="{% static 'img/down.png'%}" alt="view all"/>
    </div>
    <div id="addTask">
        <h2>Add Task</h2>
        <img id="show_form" src="{% static 'img/down.png'%}" alt="view all"/>

        <div id='taskForm'>
        <form method='POST' id="newTaskForm">
        {% csrf_token %}
        {{ add_new }}
        <input type="submit" value="Add Task" id="add-task-btn"/>
    </form>
    </div>
    </div>
</div>
<div class="six columns">
    <div id="action-status">

    </div>
    <div id="editTask"></div>
  </div>
 </div>
  {% endblock %}

  {% block javascript %}
  <script type='text/javascript' src="{% static 'js/kanban.js' %}"></script>

  {% endblock %}
