{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
  <div class='row'>
    <div id="allTasks">
        <h2>View All</h2>
    </div>
    <div id="addTask">
        <h2>Add Task</h2>
        <div id='taskForm'>
        <form method='POST' id="newTaskForm">
        {% csrf_token %}
        {{ add_new }}
        <input type="submit" value="Add Task"/>
    </form>
    </div>
    </div>
    <div id="editTask"></div>
  </div>
  {% endblock %}

  {% block javascript %}
  <script type='text/javascript' src="{% static 'js/kanban.js' %}"></script>
  {% endblock %}
