{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
  <div class='row'>
    <div id="allTasks">
        <h2>View All</h2>
        <div id='tasklist'></div>
    </div>
    <div id="oneTask"></div>
    <div id="editTask"></div>
    <div id="addTask">
        <h2>Add Task</h2>
    </div>
  </div>
  {% endblock %}

  {% block javascript %}   <!--why you no connect!!?!?-->
  <script type='text/javascript' src="{% static 'js/viewall.js' %}"></script>
  <script type='text/javascript' src="{% static 'js/kanban.js' %}"></script>
  {% endblock %}
